@font-face {
    font-family: Pipboy;
    src: url('../monofonto.ttf');
}

body {
    font-family: Pipboy, sans-serif;
    color: #14fe17;
    background: #272b23;
}

body:after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4) 2px, transparent 2px, transparent 3px);
    opacity: 0.3;
    z-index: 1000000;
    pointer-events: none;
}

.navbar {
    border-bottom: 2px solid;
    margin: 0px 10px;
}

.navbar.navbar-light:before,
.navbar.navbar-light:after {
    height: 7px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 5000;
    background: #14fe17;
    bottom: -8px;
}

.navbar.navbar-light:before {
    left: 0px;
}

.navbar.navbar-light:after {
    right: 0px;
}

ul>li.nav-item>a.nav-link,
ul>li.nav-item.active>a.nav-link {
    color: #14fe17 !important;
    font-size: 32px;
    line-height: 22px;
}


ul>li.nav-item.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    top: 18px;
    left: 0px;
    padding-bottom: 0px;
    background: #272b23;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    left: 0px;
}

.navbar-light ul.navbar-nav>li.nav-item>.nav-link,
.navbar-light ul.navbar-nav>li.nav-item.active>.nav-link {
    text-align: center;
    margin: auto;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0px;
    z-index: 50;
    position: relative;
    background: #272b23;
}

.navbar-nav {
    width: 100%;
}

.navbar-light ul.navbar-nav>li {
    display: block;
    position: relative;
    width: 100%;
}

.center-image {
    position: absolute;
    margin-left: 100px;
}

.center-image img {
    margin: auto;
    display: block;
    position: relative;
    margin-top: 50px;
    max-height: 250px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(2);
    margin-top: 50px;
    margin-left: -10px;
}

.pip-footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;
    border: none;
}

.navbar.navbar-light .navbar-nav {
    margin: 0px 100px;
}

.navbar.navbar-light .navbar-nav>li {
    padding: 0px 20px;
}

.nav.nav-tabs {
    margin: 20px;
    border-bottom: none;
}

.nav.nav-tabs>li:nth-child(2)>a {
    opacity: 0.6;
}

.nav.nav-tabs>li:nth-child(3)>a {
    opacity: 0.3;
}

.nav.nav-tabs>.nav-item>.nav-link:hover {
    border: 1px solid transparent;
}

.nav.nav-tabs>li>a {
    font-size: 26px !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    padding: 5px 10px;
}

.level-progress {
    width: 70%;
    height: 10px;
    border: 2px solid;
    display: inline-block;
}

.level-progress-indicator {
    height: 6px;
    background: #14fe17;
    position: relative;
    width: 70%;
}

nav.navbar-light.pip-footer {
    border: none;
    font-size: 22px;
}

nav.navbar-light.pip-footer .col-3,
nav.navbar-light.pip-footer .col-6 {
    background: rgba(16, 255, 0, 0.15);
    padding: 5px 10px;
}

nav.navbar-light.pip-footer .col-6 {
    margin: 0px 5px;
    flex: 0 0 48%;
}

.stat-bar {
    width: 80px;
    margin: auto;
}

#status {
    max-width: 400px;
    margin: auto;
}

.stat-bars>.row {
    margin-bottom: 75px;
}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.stat-numbers .col-1,
.stat-numbers .col-2 {
    background: rgba(16, 255, 0, 0.15);
    margin-right: 4px;
}

.stat-numbers .col-1.transparent,
.stat-numbers .col-2.transparent {
    background: transparent;
}

.stat-numbers img {
    width: 100%;
    filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(55deg) saturate(20);
}

.stat-numbers img.sm-image {
    width: 15px;
    margin-left: -5px;
}

.tab-pane {
    display: none;
}

.helmet {
    padding-top: 5px;
}

#weapons.tab-pane.full {
    width: 100%;
    max-width: 100%;
}

.item-list {
    float: left;
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.item-list li a {
    display: block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #14fe17;
    padding-left: 25px;
    text-decoration: none !important;
}

.item-list li a:hover {
    text-decoration: none;
    background: #14fe17;
    color: #272b23;
}

.item-list a.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background: #14fe17;
    left: 25px;
    margin-top: 7px;
}

.item-list a.active:hover {
    color: #272b23;
    background: #14fe17;
}

.item-list a.active:hover::before {
    background: #272b23;
}

.tab-pane.full {
    height: calc(100vh - 180px);
}

.item-stats {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: 200px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.item-stats .row .col-12 {
    background: rgba(16, 255, 0, 0.15);
    margin-bottom: 2px;
}